<div class="text-center">
    <h1 class="display-4">Soy Victor Ventura </h1>
    <h2>Desarrollador full stack especializado en .NET</h2>
    <img src="~/Images/Foto.jpg" alt="Foto de Victor" width="200px" id="foto" />
</div>

<div class="text-center">
    <img src="~/Images/dotnet.png" alt="Logo de .Net" />
</div>

<div class="row justify-content-center  bg-light">

    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portfolio</h1>
        <p>
            He estado desarrollando software desde 2022, he tenido el privilegio de poder trabajar y realizar proyectos para Grupo Concentra. Trabajando principalmente con C#/ASP.NET, SQL Server, Entity Framework y Blazor.
        </p>
    </div>
</div>